<div class="col-lg-7 centered">
    <div class="col-xs-12 col-md-12 col-lg-12 cont-curv">
        <div class="col-xs-3 col-md-1">
            <span class="glyphicon glyphicon-ok-circle ico-info" aria-hidden="true"></span>
        </div>
        <div class="col-xs-9 col-md-11">
            <ul><li>ACTUALIZADO EL 20/06/2016 A LAS 19:16 h</li></ul>
        </div>
    </div>
</div>